@import 'values';

.cell {
  float: left;
  display: block;
  width: $cellSize;
  height: $cellSize;
  line-height: $cellSize;
  font-size: 42px;
  transition: background-color 0.3s;
  user-select: none;

  &.selected {
    background-color: #fbfbbd !important;

    .piece {
      display: none;
    }
  }
}
